# Node.js / NPM
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build / Compiled output
/build
/dist

# IDE / Editor
/.vscode
/.idea

# Miscellaneous
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
